* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 14px;
    min-height: 100vh;
    width: 100%;
    font-family: Poppins;
    background-color: #fff;
}

.header {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 22px;
    background-color: #fff;
    z-index: 10;
}

.header .logo {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}

.header .logo img {
    height: 40px;
}

.header .lp {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.divider {
    height: 20px;
    width: 1px;
    background-color: #c1c5c7;
    margin: 0 10px;
}

.header a {
    font-size: 1rem;
    color: #373737;
    font-weight: 500;
    text-decoration: none;
    transition: 0.3s;
}

.header a:hover {
    color: #3BB08B;
}

.header .menu {
    list-style: none;
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.header .menu li {
    width: 100px;
    display: flex;
    align-items: center;
    margin: 0 4px;
}

.header .menu img {
    margin-right: 5px;
}

/* Button style */
.btn {
    font-size: 0.8rem;
    background-color: transparent;
    border: 0;
    outline: 0;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    transition: 0.3s;
    cursor: pointer;
    border-radius: 30px;
    padding: 8px 12px;
    width: 140px;
    color: #fff;
    box-shadow: 2px 3px 2px 0px #00000040;
    font-weight: 600;
}

.btn:hover {
    box-shadow: none;
}

.btn:active {
    transform: scale(0.98)
}

.btn.primary {
    background-color: #3BB08B;
}

/* Main Section */
main {
    background: url(./images/hero-image.png);
    width: calc(100% - 40px);
    margin: 0 20px;
    border-radius: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 80px 0;
    z-index: 5;
}

main .lp {
    height: 100%;
    width: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main .side-image  {
    height: 300px;
}

main h1 {
    font-size: 40px;
    font-weight: 700;
    line-height: 60px;
    text-align: left;
}

.input-group {
    position: relative;
    height: 50px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    width: 100%;
    margin-top: 30px;
}

.input-group button {
    height: calc(100% + 0px);
    border-radius: 0px;
    width: 200px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.input-group input {
    height: 100%;
    width: 100%;
    font-size: 0.8rem;
    outline: 0;
    border: 0;
    padding-left: 12px;
}

.input-group img {
    height: 20px;
    margin-left: 12px;
}

.tags {
    width: 100%;
    margin-top: 5px;
}

.tags a {
    font-size: 0.8rem;
    margin: 0 5px;
    color: #53748C;
}

.tags a:hover {
    color: #3BB08B;
}

.tags a::before {
    content: '#';
}

/* blog-post */
.blog-post {
    width: calc(100% - 40px);
    margin: 0 20px;
    display: flex;
    align-items: flex-start;
    border-radius: 15px;
    margin-top: 30px;
    padding: 20px;
    box-shadow: 0px 0px 2px 2px #0000001A;
    margin-bottom: 5px;
    background-color: #3bb08b0d;
}

.blog-post img {
    width: 40%;
    border-radius: 10px;
}

.blog-post .content {
    padding-left: 20px;
}

.content .post-info {
    display: flex;
    justify-content: space-between;
    margin: 6px 0;
    margin-bottom: 20px;
    font-size: 0.8rem;
}

.content .post-info a {
    color: #3BB08B;
}

.content h2 {
    font-size: 1.5rem;
    color: #000;
    text-decoration: none;
}

.content h2 a {
    color: #000;
    text-decoration: none;
    transition: 0.1s;
}

.content h2 a:hover {
    color: #3BB08B;
    text-decoration: underline;
}

.content p {
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 0em;
    text-align: left;
    color: #373737;
}

/* More small blog options */
.more-blog {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}

.more-blog article {
    flex-direction: column;
    width: 300px;
    padding: 0px;
    background-color: #fff;
}

.more-blog article img {
    width: 100%;
}

.more-blog .content {
    padding-left: 0px;
    padding: 5px 8px;
}

.more-blog h2 {
    font-size: 1.2rem;
}

.more-blog .see {
    margin-left: auto;
    margin-right: 14px;
    font-size: 0.8rem;
    margin-bottom: 12px;
    margin-top: 12px;
    color: #373737;
    text-decoration: none;
}

.more-blog .see:hover {
    opacity: 0.6;
}

footer {
    background: url(./images/hero-image.png);
    width: calc(100% - 40px);
    margin: 0 20px;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 40px;
    padding: 60px 0;
    margin-bottom: 20px;
}

footer img {
    width: 400px;
}

footer h2 {
    font-size: 1.5rem;
    font-weight: 400;
    margin: 0;
}

footer h2 {
    font-size: 2rem;
    margin: 3px;
}

footer button {
    margin-top: 30px;
    margin-left: 12px;
    background: linear-gradient(91.71deg, #2C56AA 14.14%, #3BB08B 84.43%);
}